mat-table{
  width: 100%;
}
td,th{
  width: fit-content;
}
.mat-elevation-z8{
  width: 100%;
  padding: 10px;
}

.emp-table {
  max-width: 1248px;
  margin: 0 auto;
  padding-top: 20px;
}
 table[mat-table],.emp-table > mat-form-field {
   width: 100%;
 }
mat-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
mat-paginator
{
  width: 100%;
}

