.emp-form
{
  padding: 20px;
}
.row
{
  display: flex;
  gap : 10px;
}
.row > mat-from-field {
  width: 100%;
}
.emp-form-btn
{
  display: flex;
  justify-content: space-between;
}

[mat-dialog-content] {
  display: flex;
  flex-direction: column;
}
mat-radio-group
{
  margin-top:  20px;
  margin-bottom: 20px;
}
mat-radio-group>mat-radio-button{
  margin-left : 10px;
}
